<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시판</title>
</head>
<body>
<h1>게시글 목록</h1>
<a th:href="@{/posts/new}">새 글 작성</a>
<table>
    <thead>
    <tr>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${posts}">
        <td th:text="${post.title}"></td>
        <td th:text="${post.author}"></td>
        <td th:text="${post.createdDate}"></td>
        <td>
            <a th:href="@{/posts/{id}(id=${post.id})}">보기</a>
            <a th:href="@{/posts/edit/{id}(id=${post.id})}">수정</a>
            <a th:href="@{/posts/delete/{id}(id=${post.id})}">삭제</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
